version: "3.8"

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: web-bot-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    command: node src/server.js
    ports:
      - "4000:3000"
    depends_on:
      - redis
      - mongo
    volumes:
      - ./screenshots:/app/screenshots
    env_file:
      - .env

  worker:
    build: .
    command: node src/worker.js
    depends_on:
      - redis
      - mongo
    volumes:
      - ./screenshots:/app/screenshots
    env_file:
      - .env

volumes:
  mongo-data: